header h1 {
    background-color: hsla(330, 42%, 50%, 0.50);
}

input[type=text] {
    margin-left: 69px;
}

input:disabled, option:disabled {
	background-color: grey;
}

input:enabled{
    background-color: yellow;
}


input:required {
	box-shadow: 0 0 0 3px red;
}


div{
	 background-image: url(../images/contact.png), url(../images/background.png);
     background-position: top right, 100% center;
     background-origin: border-box, content-box;
     background-repeat: no-repeat, repeat;

}

#help {
    color: red;
}
